<div class="header">
    <div class="himg  ">
        <img src="../../assets/NUEVAS1.jpg" alt="" class="s">
    </div>

    <div class="navlist">
        <h1 class="home-link"><a routerLink="/">Home</a></h1>
        <h1><a href="#" routerLinkActive="active">About</a></h1>
        <h1><a href="#" routerLinkActive="active">Contact</a></h1>
        <h1><a routerLink="/register" routerLinkActive="active">Sign Up</a></h1>
        <h1><a routerLink="/login" routerLinkActive="active">Sign In</a></h1>
    </div>
</div>