.header {
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, white,white, rgb(145, 246, 255));
  padding: 0 20px 0 0;
  color: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.161) solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.header img {
  border-radius: 20px;
  margin: 0.2vw;
  width: auto;
  height: 8vh;
}

.navlist {
  padding: 12px;
  height: 5vh;
  display: flex;
  align-items: center;
}

.navlist a {
  text-decoration: none;
  color: #002723;
  margin: 0 15px;
  font-size: 1.1vw;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.navlist a.active,
.navlist a:hover {
  background-color: #367900;
  color: #bde7bb;

}

.home-link a {
  color: #5e6b00;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-name {
  font-family: 'Arial', sans-serif;
  font-size: 2.3vw;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  background-color: #00596c;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
