.header {
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px 0 0;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header img {
  margin: 0.2vw;
  width: auto;
  height: 8vh;
}

.navlist {
  padding: 12px;
  height: 5vh;
  display: flex;
  align-items: center;
  width: 39vw;
}

.navlist h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 7vw;
  box-shadow: inset 5px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px 1vw;
  background-color: #ffffff;
}

.navlist h1:nth-child(5) {
  background-color: rgb(0, 142, 194);
  }
.navlist h1:nth-child(5) a{
  color: white;
}

.navlist a {
  text-decoration: none;
  color: #004049;
  font-size: 0.8vw;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navlist h1.active,
.navlist h1:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #008192;
}

.navlist h1:hover a {
  color: #fff;
  transition: 0.3s ease, color 0.3s ease;
}

.home-link a {
  color: #5e6b00;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-name {
  font-family: 'Arial', sans-serif;
  font-size: 2.3vw;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  background-color: #00596c;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}
