<h1>Login Component</h1>
<p style="border-bottom:solid black 2px ;"></p>

<h5>parent to chind data</h5>
<!-- parent to chind data -->
<h2>{{item}}</h2>
<p style="border-bottom:solid black 2px ;"></p>
<!-- Two way data Binding -->
<h3>Two way data Binding</h3>
<input type="text" [(ngModel)]="data"> 
<h3>{{data}}</h3>
<p style="border-bottom:solid black 2px ;"></p>


<!-- ngElseIf directive -->
<h4>ngElseIf directive</h4>

<div *ngIf="show=='amoll'; then ifBlock else elseBlock">This is </div>

<ng-template #ifBlock>
    <h4>If Block</h4>
</ng-template>
<ng-template #elseBlock>
    <h4>Else Block</h4>
</ng-template>

<p style="border-bottom:solid black 2px ;"></p>

<!-- ngFor directive -->
<h4>ngFor directive</h4>
<div *ngFor="let name of list">
<li>{{name}}</li>
</div>

<!-- Nested ngFor directive -->
<h4>Nested ngFor directive</h4>

<div >
<ol *ngFor="let user of users">
    <li>{{user.name}} </li>
    <li>{{user.age}} </li>
    <li>{{user.email}} </li>
    <ol *ngFor="let socilAcc of user.account">
        <li>{{socilAcc}}</li>
    </ol>
</ol>
</div>

<p style="border-bottom:solid black 2px ;"></p>

<!-- ngSwitch directive -->
<h4>ngSwitch directive</h4>
<button style="background-color: aquamarine;" #red (click)="getcolor('red')" >Red</button>
<button style="background-color: aquamarine;" #red (click)="getcolor('blue')" >Blue</button>
<button style="background-color: aquamarine;" #red (click)="getcolor('green')" >Green</button>
<button style="background-color: aquamarine;" #red (click)="getcolor('yellow')" >Yellow</button>
<div [ngSwitch]="color">
    <h1 style="color: red;" *ngSwitchCase="'red'" >Red Heading</h1>
    <h1 style="color: green;" *ngSwitchCase="'green'" >Green Heading</h1>
    <h1 style="color: blue;" *ngSwitchCase="'blue'" >Blue Heading</h1>
    <h1 style="color: yellow;" *ngSwitchCase="'yellow'" >yellow Heading</h1>
    <h1 style="color: red;" *ngSwitchDefault>Default Heading</h1>
</div>
<p style="border-bottom:solid black 2px ;"></p>

<button (click)="gettitle()">Click Me!!</button>

<p style="border-bottom:solid black 2px ;"></p>

<input type="text" #nametxt  placeholder="Enter Data" > 
<button (click)="getName(nametxt.value)">Click</button>
<h1>{{nametxt.value}}</h1>

<input type="text" 
        #nametxt 
        (keyup)="getname(nametxt.value)"   
        placeholder="Key Up" > 

<input type="text" 
       #nametxt 
       (keydown)="getname1(nametxt.value)"   
       placeholder="Key Down" > 
<input type="text" 
       #nametxt 
       (keypress)="getname2(nametxt.value)"   
       placeholder="Key press" > 

<p style="border-bottom:solid black 2px ;"></p>
<!-- Data Binding -->
<h3>Data Binding</h3>
<input type="text" value={{name}} disabled={{disable}}>
<br><br>
<input type="text" [value]=name [disabled]='disable'>