<div class="mainwel" [ngClass]="{ 'sidebar-closed': !isSidebarOpen }">
  <div class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a routerLink="/welcome">-Dashboard</a></li>
      <li><a routerLink="/addemployee">-Add Employee</a></li>
    </ul>

    <div class="icn" (click)="toggleSidebar()">
      <img src="../../assets/menu-regular-24.png" alt="" class="src" />
    </div>
  </div>
  <div class="dashboard">
    <h2>Dashboard</h2>

    <table class="custom-table">
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Phone No</th>
          <th>Aadhar No</th>
          <th>Position</th>
          <th>Gender</th>
          <th>Joining Date</th>
          <th>Employee Type</th>
          <th>Address</th>
          <th>Country</th>
          <th>State</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let item of user; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.empid }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.aadhar }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.jDate }}</td>
          <td>{{ item.etype }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.country }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.city }}</td>
        </tr> -->
        <tr *ngFor="let item of user; let i = index">
          <td>{{ i + 1 }}</td>
          <!-- Dynamically generate table cells -->
          <td *ngFor="let key of userKeys">{{ item[key] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
