<div class="mainwel" [ngClass]="{ 'sidebar-closed': !isSidebarOpen }">
  <div class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a routerLink="/welcome">Dashboard</a></li>
      <li><a routerLink="/addemployee">Add Employee</a></li>
    </ul>

    <div class="icn" (click)="toggleSidebar()">
      <img src="../../assets/menu-regular-24.png" alt="" class="src" />
    </div>

  </div>
  <h3>Dashboard</h3>
  <div class="logout-container">
    <!-- <h3>{{alluser.email}}</h3> -->
    <button class="logout-btn" (click)="onLogout()">
      Logout
    </button>
  </div>
  <div class="dashboard">
    <div class="table-container">
      <table class="custom-table">
      <thead>
        <tr>
          <th >Update<br>Delete</th>
          <th >Sr No.</th>
          <th *ngFor="let key of userKeys">{{key}}</th>
        </tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let item of user; let i = index">
          <td><div class="btn">
            <button (click)="DeleteData(item)">Delete</button>
            <button (click)="UpdateData(item)">Update</button>
          </div></td>
          <td>{{ i + 1 }}</td>
          <!-- name,email,phone,aadhar,age,position,gender,bggrp,jDate,etype,address,counrty,state,city -->
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.aadhar}}</td>
          <td>{{item.age}}</td>
          <td>{{item.position}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.bggrp}}</td>
          <td>{{item.jDate}}</td>
          <td>{{item.etype}}</td>
          <td>{{item.address}}</td>
          <td>{{item.counrty}}</td>
          <td>{{item.state}}</td>
          <td>{{item.city}}</td>

        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
















<!-- <tr *ngFor="let item of user; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.empid }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.aadhar }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.jDate }}</td>
          <td>{{ item.etype }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.country }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.city }}</td>
        </tr> -->