* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainwel {
  display: flex;
  min-height: 90vh;
  width: 100%;
}
.mainwel h3 {
  position: absolute;
  font-size: 1.6vw;
  margin: 1vw 0 0 14vw;
}

.sidebar {
  border:1px solid black;
  min-height: 90vh;
  width: 11%;
  background-color: #dddddd;
  color: #333333;
  padding: 20px;
  transition: 1s ease;
}

.sidebar h2 {
  margin-top: -6px;
  font-size: 1.5vw;
}

.sidebar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 2vw 0 0 0;
}

.sidebar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin: 10px 0 0 0;
  width: 8vw;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.sidebar ul li:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: #454545;
  font-weight: bold;
  display: block;
  padding: 8px;
  font-size: 0.9vw;
}

.icn {
  position: absolute;
  top: 0;
  background-color: transparent;
  margin: 5vw 0 0 7.8vw;
  cursor: pointer;
}

.logout-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  width: 20vw;
  margin-right: 2vw;
  background-color: transparent
}
.logout-container h3{
  margin-top: -0.2vw;
  margin-right: -2vw;
  font-size: 0.9vw;
  left: -60%;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 1vw;
  font-weight: 600;
  width: 6vw;
  border-radius: 8px;
  margin: 10px 1vw;
  color: white;
  background-color: rgb(73, 0, 0)
}
.logout-btn:hover{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: rgb(73, 0, 0);
  background-color: #fff;
}


.sidebar-closed .sidebar {
  margin-left: -13vw;
  transition: 1s ease;
}

.sidebar-closed .icn {
  position: absolute;
  top: 0;
  background-color: transparent;
  margin: 6vw 0 0 11vw;
  transition: 1s ease;
}

.sidebar-closed .dashboard {
  margin-left: 3%;
  width: 97%;
}

.dashboard {
  min-height: 81vh;
  width: 89%;
  background-color: #c9c9c9;
  border-top:1px  solid black;
  border-right:1px  solid black;
  border-bottom:1px  solid black;


  padding: 20px;
}
.table-container {
  border: 3px solid #575757;
  margin-top: 4vh;
  background-color: #ffffff;
  min-height: 80vh;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.custom-table th {
  border: 2px solid #9a9a9a;
  text-align: left;
  background-color: #5a5a5acd;
  padding: 0 5px 0 5px;
}

.custom-table td {
  border: 2px solid #cfcfcf;
  text-align: left;
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

.custom-table th {
  text-align: center;
  font-size: 1vw;
  padding: 1vw 0.3vw;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  
}

.custom-table tbody tr {
  height: 50px;
  width: auto;
  padding: 1vw 1vw;
  font-size: 1vw;
  font-weight: 500;
}
.custom-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.custom-table tbody tr:nth-child(odd) {
  background-color: #efefef;
}

.custom-table tbody tr:hover {
  background-color: #ffffff;
}

table button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.618);
  border-radius: 20px;
  outline: none;
  margin: 0.2vw;
  width: 4vw;
  font-size: 0.9vw;
  cursor: pointer;
}
table button:nth-child(odd) {
  background-color: #008592;
  color: white;
}
table button:nth-child(even) {
  background-color: #9d0015;
  color: white;
}

table button:nth-child(odd):hover {
  background-color: #b8c3c3;
  color: #005e65;
  font-weight: 600;
}
table button:nth-child(even):hover {
  background-color: #b8c3c3;
  color: #780010;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
