.employee-form{
    background-color: rgb(255, 255, 255);
    min-height: 90vh;
    display: flex;
    justify-content: top;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}
.form{
    background-color: rgb(227, 227, 227);
    height: 73vh;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
}

.form .input-box{
    width: 30.33%;
}

.input-box{
    margin: 1vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
}
input {
    width: 20vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding: 5px;

}
.val{
    height: 0;
    width: 30.33%;
    background-color: rgb(233, 220, 220);
}

label{
    width: 19vw;
}
input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff;
}
textarea {
    width: 20vw;
    background-color: rgb(198, 255, 255);
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding: 0 5px 0 5px;

}

button {
    
    margin: 74vh 0 0 65vh;
    position:absolute;
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    background-color: #1a73e8;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

span {
    color: red; 
    font-size: 1vw;
}

.er1,.er2,.er3,.er4,.er5,.er6,.er7,.er8,.er9,.er10,.er11,.er12,.er13{
    height: 2vh;
    margin-left: 2vw;
    margin-top: -3vh;
    position: absolute;
   
}