<div class="imag">
    <div id="home" class="hero">
      <div class="shiny-effect">
        <h1>Welcome to<br><span>Nuevas</span> Technologies</h1>
      </div>

    </div>
    <div class="row">
      <div id="about" class="about">
       
        <h2> Who we are</h2>
        <p>Nuevas is a company specializing in easy-to-use, practical wireless solutions for the protection and management of people, fleets of vehicles, containers and assets. Our main focus is on
        </p>
      </div>
      <div id="contact" class="contact" >
        <h2>Contact</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <label for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
      
      
    </div>
    <footer class="fotr">
      <p>&copy; 2024 Nuevas Technologies. All rights reserved.</p>
    </footer>
  </div>
  