<div class="imag">
  <div id="home" class="hero">
    <div class="shiny-effect">
      <h1>Welcome to<br /><span>Nuevas</span> Technologies</h1>
      <p>
        Nuevas is a company specializing in easy-to-use, practical wireless
        solutions for the protection and management of people, fleets of
        vehicles, containers and assets. Our main focus is on
      </p>
    </div>
    <div class="empimg">
      <img src="../../assets/emp.jpg" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="product">
      <h3>Product</h3>
      <a href="#">Vehicle Tracking System</a>
      <a href="#">RFID System</a>
      <a href="#">Bike Tracker System</a>
      <a href="#">Personal Tracking System</a>
      <a href="#">SWM System</a>
    </div>
    <div class="company">
      <h3>Company</h3>
      <a href="#">About Us</a>
      <a href="#">Career</a>
      <a href="#">Blogs</a>
    </div>
    <div class="contact">
      <h3>Contact</h3>
      <a href="#">022 220 546</a>
      <a href="#">Contact Us</a>
      <div style="display: flex; flex-direction: row; padding: 0; justify-content: center; align-items: center;">
        <a href=""><img src="../../assets/facebook-square-logo-24.png" alt=""></a>
        <a href=""><img src="../../assets/instagram-alt-logo-24.png" alt=""></a>
        <a href=""><img src="../../assets/linkedin-square-logo-24.png" alt=""></a>
        <a href=""><img src="../../assets/x-regular-24.png" alt=""></a>
      </div>
    </div>
  </div>
  <footer class="fotr">
    <p>&copy; 2024 Nuevas Technologies. All rights reserved.</p>
  </footer>
</div>
