.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(198, 198, 198);
    font-family: 'Poppins',sans-serif;

}

.login-section {
    background-color:  rgb(255, 255, 255);
    padding: 2vw;
    border-radius: 8px;
    /* box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1); */
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 25vw;
}

.login-section h3 {
    color: #030d28;
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 20px;

}
form{
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.inputbox {
    position: relative;
    margin-top:0;
    margin-bottom: 20px;
    width: 22vw;
}

.inputbox input {
    margin: 0.6vw;
    width: 100%;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1.2vw;
}
::placeholder{
    font-size: 0.8vw;
    color: #001348;
}
.inputbox input:focus {
    border-color: #030d28; 
    box-shadow: 0 0 5px #007bff;
}


.er span {
    color: red;
    font-size: 1.2vw;
    position: absolute;
    bottom: -20px;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
    width: 100%;
}

.forgot-password a {
    font-size: 0.6vw;
    text-decoration: none;
    color: #00807a;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #001d3c;
}

button {
    position: relative;
    margin-top:0;
    margin-bottom: 20px;
    margin-left: 24px;
    width: 22vw;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1vw;
}
button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px #fff;
}



.company-section a:hover {
    background-color: #0056b3;
}

.er1,.er2{
    position: absolute;
    height: 3vh;
    margin-top: -50 px;
    margin-left:50px ;
    color: rgb(172, 0, 0);
    font-size: 10px;
}


