<div class="forms">
    
    <form [formGroup]="loginform" (ngSubmit)="OnSubmit()">
        <h3>Login</h3>
       <div>
        <div class="inputbox">
            <input type="text" [ngClass]="{'is-invalid':submitted && loginform.get('user')?.errors}"  formControlName="user" placeholder="Enter Username"  [(ngModel)]="loginobj.user"/>   
            
        </div>
        <div *ngIf="submitted || loginform.get('user')?.invalid && (loginform.get('user')?.dirty || (loginform.get('user')?.touched))">
            <div class="er" *ngIf=" loginform.get('user')?.hasError('required')" ><span >Please Enter Correct Email</span></div>
            <div class="er" *ngIf=" loginform.get('user')?.hasError('email')" ><span >Please Enter Correct Email</span></div>
        </div>     
       </div>
       <div>
        <div class="inputbox">
            <input type="password" [ngClass]="{'is-invalid':submitted && loginform.get('password')?.errors}"  formControlName="password" placeholder="Enter Password" [(ngModel)]="loginobj.password" />
        </div>
        <div *ngIf="submitted || loginform.get('password')?.invalid && (loginform.get('password')?.dirty || (loginform.get('password')?.touched))">
            <div class="er" *ngIf=" loginform.get('password')?.hasError('required')" ><span>Please Enter Correct Email</span></div>

        </div>
       </div>
        <div class="link">
            <a href="#">Forgot Password</a>
            <a href="#">Forgot Username</a>
        </div>
        <button type="submit" routerLink="" >Login</button>
    </form>

    
   


    <!-- <div class="userdata">
        <ul >
            <li>user: {{alluser.user}}</li>
            <li>password: {{alluser.password}}</li>
            <button type="submit" (click)="deletedata()">Delete-Data</button>
        </ul>
    </div> -->

