.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f2f2f2; /* Change background color */
    padding: 20px; /* Add some padding */
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form h3 {
    color: #333; /* Change heading color */
    font-size: 24px;
    margin-bottom: 20px;
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.er span {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
}

.link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #007bff; /* Change link color */
    font-size: 14px;
    transition: color 0.3s ease;
    padding: 8px 12px; /* Add padding to links */
    border-radius: 4px; /* Add border-radius to links */
}

.link a:hover {
    color: #001d3c;
}

button {
    margin-top: 2vh;
    padding: 14px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


.er1, .er2, .er3, .er4{
    position: absolute;
    height: 3vh;
    margin-top: -20px;
    margin-left:50px ;
    color: rgb(157, 0, 0);
    font-size: 0.8vw;
}

.inputbox input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff;
}