.forms{
    display: flex;
    justify-content: center;
    /* margin-top: 25vh; */
    height: 87vh;
    align-items: center;
    background-color: #23242a;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    height: 29vw;
    width: 24vw;
    border: ridge rgba(255, 255, 255, 0.644) 5px;
}
form h3{
    color:white;
}

.link{
    height: 8vh;
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
}

.link a{
    font-size: 0.9vw;
    text-decoration: none;
    color: rgb(105, 105, 105);
    margin: 2vw;
}

.link:hover a{
    font-size: 0.9vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2vw;
}

input{
    position: relative;
    width: 100%;
    margin: 0.6vw;
    background: transparent;
    border: none;
    border: ridge rgba(255, 255, 255, 0.644) 5px;
    outline: none;
    color: #dcdeed;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
::placeholder{
    color: rgb(114, 114, 114);
    text-align: center;
    font-size: 0.9vw;
}

span{
    height: 14px;
    position: absolute;
    background-color: #dcdeed;
}

.er span{
    color: red;
    width: 100px;
    font-size: 0.7vw;
    position: absolute;
    margin-left: -60px;
    width: 10vw;
    z-index: 99;
}

button{
    padding: 0.4vw;
    width: 68%;
    font-size: 1vw;
    font-weight: 600;
    color: rgb(54, 53, 53);
    border: none;
    outline: none;
    cursor:pointer;
    border: ridge rgba(255, 255, 255, 0.644) 5px;
    margin-left: 16px;
}